body {background-color: #ffe6ee;}

h1,h2,h3,h4,h5,h6 {
    color: #c3015c;
    font-family: 'Merriweather', serif;

}

a:link {color: #c9005e;}
a:visited {color: #b90057;}
a:hover {color: #910054;}
a:active {color: #c7005d;}



nav {padding: 10px;}
nav{margin-bottom: 30px;}

body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

@media only screen and (max-width: 768px)
{
    nav a {width: 100%; display: block;}
    .pipe {display: none;}
}


    #skiptocontent {
        position: absolute; 
        left: -999px;  
        background-color: white;
        border: 1px solid gray;
        }
    #skiptocontent:focus {position: absolute; left: 10px;}
    