body {background-color: #ffcdeb;}

h1,h2,h3,h4,h5,h6 {color: #c3015c;}

a:link {color: #ff0077;}
a:visited {color: #ff0278;}
a:hover {color: #b8004d;}
a:active {color: #ff0077;}



nav {padding: 10px;}
nav{margin-bottom: 30px;}

body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

@media only screen and (max-width: 768px)
{
    nav a {width: 100%; display: block;}
    .pipe {display: none;}
}