body {background-color: #ffc6c6;}

h1,h2,h3,h4,h5,h6 {color: #ea5656;}

a:link {color: #DA5780;}
a:visited {color: #eb0f46;}
a:hover {color: #BD2E51;}
a:active {color: #CF1B1B;}



nav {padding: 10px;}
nav{margin-bottom: 30px;}

body {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}

@media only screen and (max-width: 768px)
{
    nav a {width: 100%; display: block;}
    .pipe {display: none;}
}