body {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}

h1, h2 {color: grey;}

h1 {font-size: 2em;}

h2 {font-size: 1.5em;}

tr:nth-child(even) 
{
    background-color: palegreen;
}


